<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:config/spring-persist.xml
			classpath:config/spring-service.xml
			classpath:config/spring-jersey.xml
			classpath:config/spring-flowable.xml
		</param-value>
	</context-param>
	
	<!-- Spring容器的监听器 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!-- 设置字符编码的过滤器 -->
	<filter>
	  <filter-name>setcharacter</filter-name>
	  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	  <init-param>
	    <param-name>encoding</param-name>
	    <param-value>utf-8</param-value>
	  </init-param>
	</filter>
	<filter-mapping>
	  <filter-name>setcharacter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- Jersey的核心控制器 -->
	<servlet>
	  <servlet-name>jersey-serlvet</servlet-name>
	  <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
	  <init-param>
	  	<param-name>com.sun.jersey.config.property.packages</param-name>
	  	<param-value>
	  		org.ranji.lemon.resource
	  	</param-value>
	  </init-param>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	  <servlet-name>jersey-serlvet</servlet-name>
	  <url-pattern>/ws/*</url-pattern>
	</servlet-mapping>

	<!-- Spring MVC的核心控制器 -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:config/spring-web.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
</web-app>